# Project 3
Dataset description- Cleand and Analyze the dataset of used cars from Ebay, we have 50,000 datapoints. 
A brief introduction on the columns in the dataset 

1.dateCrawled - When this ad was first crawled. All field-values are taken from this date.
2. name - Name of the car.
3. seller - Whether the seller is private or a dealer.
4. offerType - The type of listing
5. price - The price on the ad to sell the car.
6. abtest - Whether the listing is included in an A/B test.
7. vehicleType - The vehicle Type.
8. yearOfRegistration - The year in which the car was first registered.
9. gearbox - The transmission type.
10. powerPS - The power of the car in PS.
11. model - The car model name.
12. kilometer - How many kilometers the car has driven.
13. monthOfRegistration - The month in which the car was first registered.
14. fuelType - What type of fuel the car uses.
15. brand - The brand of the car.
16. notRepairedDamage - If the car has a damage which is not yet repaired.
17. dateCreated - The date on which the eBay listing was created.
18. nrOfPictures - The number of pictures in the ad.
19. postalCode - The postal code for the location of the vehicle.
20. lastSeenOnline - When the crawler saw this ad last online.

In [1]:
import pandas as pd
import numpy as np 
autos = pd.read_csv("autos.csv", encoding = "Latin-1")
autos.head()
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [2]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [3]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(float)
autos["odometer"] = autos["odometer"].str.replace("km","").str.replace("kms","").str.replace(",","").astype(float)
autos.rename({"odometer": "odometer_km"}, axis =1, inplace = True)
autos.rename({"price": "price_dollars"}, axis =1, inplace = True)

autos.head()

,date_crawled,name,seller,offer_type,price_dollars,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
b = autos["price_dollars"] <= 10
autos[b].sort_values("price_dollars")

,date_crawled,name,seller,offer_type,price_dollars,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0.0,control,NaN,2005,NaN,0,NaN,150000.0,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
32072,2016-03-08 17:53:48,Suche_3_Golf_GTi,privat,Angebot,0.0,control,kleinwagen,1990,NaN,0,golf,150000.0,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,2733,2016-04-05 06:18:19
32042,2016-03-14 08:55:18,VERSCHENKE_DEN_REST_DES_BMW_e39_mit_Kfz_Brief,privat,Angebot,0.0,test,kombi,1998,NaN,150,NaN,150000.0,8,NaN,bmw,ja,2016-03-14 00:00:00,0,49699,2016-03-14 09:46:47
32029,2016-03-15 13:46:32,Achtung_Tausche_BMW_E36_Automatic_1_8_Nur_Taus...,privat,Angebot,0.0,control,limousine,1994,automatik,0,3er,150000.0,12,benzin,bmw,nein,2016-03-15 00:00:00,0,3042,2016-03-21 09:47:28
32024,2016-03-23 10:58:34,Opel_Corsa,privat,Angebot,0.0,control,kleinwagen,1999,manuell,0,corsa,150000.0,2,benzin,opel,NaN,2016-03-23 00:00:00,0,89597,2016-04-01 14:17:35
31924,2016-03-22 18:49:29,VW_Polo_G40,privat,Angebot,0.0,control,kleinwagen,1992,manuell,131,polo,125000.0,2,benzin,volkswagen,nein,2016-03-22 00:00:00,0,66954,2016-04-06 11:16:16
31911,2016-03-26 14:50:26,Golf_3_1_8_90_pls_TÜV_bis_06/2017,privat,Angebot,0.0,test,limousine,1991,manuell,90,golf,150000.0,5,benzin,volkswagen,nein,2016-03-26 00:00:00,0,63225,2016-03-27 15:08:53
31876,2016-04-04 11:57:45,Passat_1.8_Turbo___ATM_chip_ca._185ps,privat,Angebot,0.0,control,limousine,1996,manuell,185,passat,150000.0,12,benzin,volkswagen,nein,2016-04-04 00:00:00,0,6773,2016-04-06 13:44:22
31858,2016-03-07 19:44:22,Opel_corsa_B__ECO__1.0_tauschen_gegen_handy,privat,Angebot,0.0,control,kleinwagen,1998,manuell,55,corsa,150000.0,7,benzin,opel,nein,2016-03-07 00:00:00,0,44329,2016-03-08 18:17:08
31819,2016-03-14 16:40:53,Audi_A6_quattro_2.5tdi,privat,Angebot,0.0,test,kombi,1999,automatik,150,a6,150000.0,0,diesel,audi,NaN,2016-03-14 00:00:00,0,39110,2016-03-21 06:16:19
31793,2016-03-16 17:45:05,BMW_316i_Compact,privat,Angebot,0.0,control,NaN,2016,manuell,105,3er,150000.0,0,benzin,bmw,nein,2016-03-16 00:00:00,0,49661,2016-03-17 15:46:29
31781,2016-03-25 16:44:54,Opel_Tigra_Twintop,privat,Angebot,0.0,control,cabrio,2005,automatik,90,tigra,125000.0,7,benzin,opel,nein,2016-03-25 00:00:00,0,44805,2016-03-28 16:16:23
31774,2016-03-10 14:52:32,BMW_320D_Gruen_Plakette__Euro4,privat,Angebot,0.0,test,kombi,2005,NaN,150,3er,150000.0,0,diesel,bmw,NaN,2016-03-10 00:00:00,0,71640,2016-03-11 03:15:16
31715,2016-04-04 15:43:06,Opel_Corsa_B___90PS___LETZTE_CHANCE_BIS_MITTWO...,privat,Angebot,0.0,test,kleinwagen,1997,manuell,90,corsa,150000.0,0,benzin,opel,NaN,2016-04-04 00:00:00,0,21441,2016-04-04 15:43:06
31686,2016-03-25 19:36:21,Golf_3_GTI_116_PS_/_16_Zoll_Alu___Sport_Auspuf...,privat,Angebot,0.0,test,NaN,2016,manuell,116,golf,150000.0,7,benzin,volkswagen,NaN,2016-03-25 00:00:00,0,79348,2016-04-07 03:16:22
31597,2016-04-04 08:53:25,Touran_Ersatzteile,privat,Angebot,0.0,control,bus,2004,NaN,0,touran,5000.0,0,diesel,volkswagen,NaN,2016-04-04 00:00:00,0,49324,2016-04-06 10:45:58
31574,2016-03-28 17:54:44,BMW_530d_E39_Facelift_Kombi_M_Paket,privat,Angebot,0.0,test,kombi,2003,manuell,193,5er,150000.0,4,diesel,bmw,nein,2016-03-28 00:00:00,0,32584,2016-04-04 21:17:30
31570,2016-03-20 20:55:14,suche_ein_Clio,privat,Angebot,0.0,test,NaN,2016,manuell,0,clio,150000.0,0,NaN,renault,NaN,2016-03-20 00:00:00,0,12043,2016-03-23 08:16:33
31462,2016-03-13 21:47:41,VW_Golf_IV_1.9tdi_Motorschaden,privat,Angebot,0.0,test,kleinwagen,2001,manuell,0,golf,150000.0,0,NaN,volkswagen,ja,2016-03-13 00:00:00,0,96484,2016-03-13 21:47:41
31414,2016-03-14 17:58:53,Porsche_356_A_Coupe_Oldtimer_und_Porsche_356_C...,privat,Angebot,0.0,test,NaN,1960,manuell,0,andere,100000.0,0,benzin,porsche,NaN,2016-03-14 00:00:00,0,29693,2016-03-15 13:15:32
32103,2016-03-29 13:00:06,Audi_A4_B5_1.6_gegen_Mercedes_/190E,privat,Angebot,0.0,test,NaN,2016,manuell,101,a4,150000.0,7,NaN,audi,nein,2016-03-29 00:00:00,0,45470,2016-03-29 13:44:06
32159,2016-03-12 10:49:22,Golf_3_1_9_GTI_TDI_Jubi_20Jah_Edition_144PS_TÜ...,privat,Angebot,0.0,control,NaN,2017,manuell,144,golf,150000.0,12,NaN,volkswagen,nein,2016-03-12 00:00:00,0,46325,2016-03-22 13:50:10
32188,2016-03-25 17:49:50,Teile_fuer_vw_golf_1_Cabrio,privat,Angebot,0.0,test,NaN,2017,manuell,98,golf,125000.0,4,NaN,volkswagen,nein,2016-03-25 00:00:00,0,54317,2016-04-01 02:17:06
32251,2016-03-06 23:43:48,Auto_zum_ausschlachten,privat,Angebot,0.0,control,NaN,2016,NaN,0,andere,150000.0,3,NaN,suzuki,NaN,2016-03-06 00:00:00,0,63667,2016-03-09 16:17:49
32896,2016-03-29 21:41:32,VW_Scirocco_1_TS_Restaurationsobjekt_kein_GTI_...,privat,Angebot,0.0,test,coupe,1975,manuell,85,scirocco,125000.0,0,benzin,volkswagen,NaN,2016-03-29 00:00:00,0,36088,2016-04-06 07:46:30
32895,2016-03-23 22:53:54,VW_Polo_6_n,privat,Angebot,0.0,test,kleinwagen,1997,manuell,0,polo,150000.0,5,benzin,volkswagen,NaN,2016-03-23 00:00:00,0,15324,2016-04-06 13:17:21
32795,2016-03-19 17:39:32,Citroen_Saxo_TÜV_10.2016_unfallfrei,privat,Angebot,0.0,control,NaN,2016,manuell,54,NaN,125000.0,0,NaN,citroen,nein,2016-03-19 00:00:00,0,13355,2016-03-21 23:15:43
32756,2016-03-10 19:46:06,76er_Granni_MK1_Projekt,privat,Angebot,0.0,control,limousine,1976,automatik,0,andere,5000.0,0,NaN,ford,NaN,2016-03-10 00:00:00,0,89312,2016-04-06 03:17:22
32692,2016-03-14 15:54:29,Audi_A4_B5_1.8_Automatik_LPG_Gasanlage,privat,Angebot,0.0,control,NaN,1998,automatik,125,NaN,150000.0,0,NaN,audi,ja,2016-03-14 00:00:00,0,38458,2016-03-27 20:47:43
32656,2016-03-18 11:47:31,Audi_A6_Quattro_2_5,privat,Angebot,0.0,control,limousine,2000,manuell,180,a6,150000.0,6,diesel,audi,ja,2016-03-18 00:00:00,0,22457,2016-03-22 10:45:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16989,2016-03-22 19:53:39,SUBARU_4_x_4__seperate_Differenzial.___besagt_...,privat,Angebot,1.0,test,kombi,1998,manuell,125,legacy,70000.0,2,benzin,subaru,nein,2016-03-22 00:00:00,0,66709,2016-04-06 14:17:15
17110,2016-03-15 18:43:11,300_se_vollaustattung_oldtimer_youngtimer__rar...,privat,Angebot,1.0,control,limousine,1985,automatik,200,andere,150000.0,3,benzin,mercedes_benz,nein,2016-03-15 00:00:00,0,40217,2016-04-06 19:16:47
6864,2016-03-30 15:59:02,Motor/Getriebe/Karosserie_Opel_Zafira_A_mit_TÜ...,privat,Angebot,1.0,test,bus,2001,manuell,125,zafira,100000.0,2,benzin,opel,nein,2016-03-30 00:00:00,0,49596,2016-04-07 06:44:57
41577,2016-04-03 21:49:37,Alfa_Romeo_156_Schlachtfest_2.5_V6_24V_428/B_B...,privat,Angebot,1.0,test,limousine,1998,manuell,190,156,5000.0,5,benzin,alfa_romeo,NaN,2016-04-03 00:00:00,0,87743,2016-04-05 22:47:44
6662,2016-03-19 18:58:02,Passat_35i_Limo_Tausch_gegen_Golf_2_oder_Golf_...,privat,Angebot,1.0,test,NaN,2016,manuell,116,passat,150000.0,4,benzin,volkswagen,NaN,2016-03-19 00:00:00,0,6132,2016-03-25 23:19:03
11314,2016-03-19 12:45:16,Suche_Autos_mit_und_ohne._Tuev,privat,Angebot,1.0,test,NaN,2000,NaN,0,NaN,150000.0,0,NaN,sonstige_autos,NaN,2016-03-19 00:00:00,0,49808,2016-03-20 14:18:09
5594,2016-03-26 00:59:02,Schlachte_polo_6n_alles_vorhanden_und_billig_a...,privat,Angebot,1.0,test,NaN,2000,manuell,60,NaN,150000.0,3,NaN,volkswagen,NaN,2016-03-25 00:00:00,0,28757,2016-03-29 09:46:50
6548,2016-03-23 23:54:47,E300dt_Schlachtefest,privat,Angebot,1.0,control,limousine,1997,automatik,177,e_klasse,150000.0,9,diesel,mercedes_benz,NaN,2016-03-23 00:00:00,0,12459,2016-03-24 06:51:32
28506,2016-03-22 17:55:36,Opel_Corsa_B_schlachtfest,privat,Angebot,1.0,control,kleinwagen,1995,manuell,45,corsa,150000.0,5,NaN,opel,ja,2016-03-22 00:00:00,0,45661,2016-03-22 17:55:36
5883,2016-03-28 12:56:23,Suche_ein_Auto,privat,Angebot,1.0,test,NaN,2005,NaN,0,NaN,5000.0,0,NaN,volkswagen,NaN,2016-03-28 00:00:00,0,61118,2016-04-02 16:48:00
17858,2016-03-22 11:54:28,BMW_535d_xDrive_Sport_Aut._LEASINGÜBERNAHME,privat,Angebot,1.0,control,limousine,2013,automatik,313,5er,50000.0,8,diesel,bmw,NaN,2016-03-22 00:00:00,0,90556,2016-04-06 00:46:40
6013,2016-03-25 13:58:03,Auto_zum_ausschlachten,privat,Angebot,1.0,test,kleinwagen,1997,manuell,116,golf,150000.0,1,benzin,volkswagen,nein,2016-03-25 00:00:00,0,55234,2016-04-06 17:17:18
42445,2016-03-18 20:52:00,Mercedes_Benz_a_Klasse_Schlachtung_schlachtfes...,privat,Angebot,1.0,test,kleinwagen,2000,NaN,0,a_klasse,150000.0,12,benzin,mercedes_benz,NaN,2016-03-18 00:00:00,0,40822,2016-04-02 00:46:06
17984,2016-03-24 13:39:12,Oldtimer_Chevrolet_Malibu_5.7l_V8_Bj.:1978,privat,Angebot,1.0,control,limousine,1978,automatik,195,NaN,5000.0,0,benzin,chevrolet,NaN,2016-03-24 00:00:00,0,74078,2016-03-30 14:16:00
6604,2016-03-16 11:59:29,Kleiner_Flitzer_ohne_TÜV_Fahrbereit,privat,Angebot,1.0,test,kleinwagen,2002,automatik,0,clio,150000.0,0,diesel,renault,ja,2016-03-16 00:00:00,0,14199,2016-03-16 12:44:38
24413,2016-03-27 22:06:23,Tausch_iPhone_6_gegen_Auto,privat,Angebot,2.0,test,NaN,2015,NaN,0,NaN,5000.0,0,NaN,sonstige_autos,NaN,2016-03-27 00:00:00,0,65183,2016-03-28 10:47:27
30678,2016-04-03 15:45:42,Tuerkisch___Ordnungsamt,privat,Angebot,2.0,test,NaN,2018,automatik,0,5er,20000.0,5,diesel,bmw,NaN,2016-04-03 00:00:00,0,47055,2016-04-03 15:45:42
1171,2016-03-29 17:53:03,Seat_Leon_Spielzeug_Auto,privat,Angebot,2.0,control,limousine,1950,automatik,5,leon,5000.0,0,diesel,seat,NaN,2016-03-29 00:00:00,0,26919,2016-04-06 03:45:23
33429,2016-03-08 18:06:18,Opel_Vectra_Gts_2.2_NAVI._PDC.dvd_UVM....,privat,Angebot,3.0,control,limousine,2003,manuell,147,vectra,150000.0,2,benzin,opel,NaN,2016-03-08 00:00:00,0,63065,2016-03-08 21:49:47
8560,2016-03-09 00:56:55,fuer_Bastelfreunde,privat,Angebot,5.0,test,kleinwagen,1998,NaN,0,polo,150000.0,7,benzin,volkswagen,ja,2016-03-08 00:00:00,0,6258,2016-03-12 16:16:15
5375,2016-03-16 21:43:24,SCHLACHTE_ZAFIRA_A_2.2_16V_147_PS,privat,Angebot,5.0,control,bus,2004,manuell,147,zafira,150000.0,0,benzin,opel,NaN,2016-03-16 00:00:00,0,87719,2016-03-27 13:17:48
28372,2016-03-17 00:36:58,500_Designer_Pumps_Echt_Leder_Italien_Restpost...,privat,Angebot,8.0,test,NaN,2015,NaN,0,NaN,5000.0,0,NaN,porsche,NaN,2016-03-16 00:00:00,0,50678,2016-03-17 07:39:14
31054,2016-03-21 14:54:12,LVM_Versicherung___BMW_Mini___Fahrzeug,privat,Angebot,9.0,control,limousine,2016,manuell,0,cooper,5000.0,3,andere,mini,NaN,2016-03-21 00:00:00,0,51145,2016-03-21 14:54:12
44597,2016-03-07 19:55:25,vw_bus_t3_stossstangen_kantenschutz,privat,Angebot,10.0,control,NaN,1990,NaN,0,transporter,10000.0,0,NaN,volkswagen,NaN,2016-03-07 00:00:00,0,29303,2016-04-07 12:45:34
17079,2016-03-17 07:56:24,Kofferraumwanne_sehr_schoen,privat,Angebot,10.0,control,NaN,2000,NaN,0,focus,5000.0,0,NaN,ford,NaN,2016-03-17 00:00:00,0,64750,2016-04-06 05:16:29
35009,2016-03-13 08:37:12,2_mal_Opel_Omega_Reparaturanleitung,privat,Angebot,10.0,control,NaN,1995,NaN,0,omega,5000.0,0,cng,opel,NaN,2016-03-13 00:00:00,0,41379,2016-03-20 13:47:00
42186,2016-03-27 12:58:16,Suche_Volvo_spezialist,privat,Angebot,10.0,test,kombi,2003,manuell,209,NaN,150000.0,12,benzin,volvo,nein,2016-03-27 00:00:00,0,63694,2016-03-29 02:16:19
29246,2016-03-25 11:47:54,smart_mit_motorsch_nur_einzelteile_ab_15_eur_v...,privat,Angebot,10.0,test,NaN,2017,NaN,0,fortwo,150000.0,0,benzin,smart,ja,2016-03-25 00:00:00,0,10963,2016-03-28 10:45:43
27658,2016-03-06 10:39:25,VW_Golf_4_Stossfaenger_pralldaempfer_Stossstan...,privat,Angebot,10.0,test,NaN,2000,NaN,0,golf,150000.0,0,NaN,volkswagen,NaN,2016-03-06 00:00:00,0,31655,2016-03-26 14:45:52
33893,2016-03-20 19:54:18,Daewoo_Rezzo_1.6_CDX_LPG_Gas_TÜV_2.2017,privat,Angebot,10.0,test,bus,2002,manuell,104,andere,150000.0,12,benzin,daewoo,NaN,2016-03-20 00:00:00,0,51429,2016-03-20 19:54:18

On observation of the price of the cars, some clear outliers happens to be the cars priced between 0 and 10 dollars. There are 1592 cars. 

Now let's have a look at the upper spectrum. 
Some cars seem extremely expensive. On observing the top 10 most expensive cars.
A car costing over 10 million dollars seems absurd, there are 8 such rows

In [5]:
autos.sort_values("price_dollars", ascending = False).head(10)

,date_crawled,name,seller,offer_type,price_dollars,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999.0,control,limousine,1999,automatik,224,s_klasse,150000.0,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222.0,control,limousine,2014,manuell,163,c4,40000.0,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678.0,control,NaN,2017,NaN,95,punto,150000.0,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678.0,control,NaN,2018,manuell,95,v40,150000.0,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678.0,control,limousine,2001,manuell,101,vectra,150000.0,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111.0,test,limousine,1973,manuell,48,escort,50000.0,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111.0,test,NaN,1995,NaN,0,NaN,150000.0,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000.0,control,coupe,1960,manuell,368,NaN,100000.0,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000.0,test,coupe,2006,NaN,799,NaN,5000.0,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000.0,control,coupe,1992,NaN,0,NaN,50000.0,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11

Confirming the index numbers of the outliers, to drop them all from the dataset

In [6]:
price_above_10_million_bool = autos["price_dollars"] >= 10000000
price_above_10_million = autos[price_above_10_million_bool].index
price_below_10_dollars = autos[b].index

In [7]:
autos.drop(price_below_10_dollars, inplace=True)
autos.drop(price_above_10_million, inplace = True)
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48400 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          48400 non-null object
name                  48400 non-null object
seller                48400 non-null object
offer_type            48400 non-null object
price_dollars         48400 non-null float64
abtest                48400 non-null object
vehicle_type          43890 non-null object
registration_year     48400 non-null int64
gearbox               46110 non-null object
powerPS               48400 non-null int64
model                 45969 non-null object
odometer_km           48400 non-null float64
registration_month    48400 non-null int64
fuel_type             44432 non-null object
brand                 48400 non-null object
unrepaired_damage     39406 non-null object
ad_created            48400 non-null object
nr_of_pictures        48400 non-null int64
postal_code           48400 non-null int64
last_seen             48400 non-null object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [8]:
autos["registration_month"].value_counts()
autos["registration_year"].sort_values(ascending = True)

22316    1000
49283    1001
24511    1111
32585    1800
10556    1800
45157    1910
30781    1910
28693    1910
22659    1910
21416    1927
22101    1929
11246    1931
2573     1934
2221     1934
26607    1937
39725    1937
21421    1937
23804    1937
26103    1938
24855    1939
13963    1941
25792    1941
11585    1943
11047    1948
14020    1950
44406    1951
35921    1951
23372    1952
35453    1953
40765    1954
         ...
43592    2018
6360     2018
43577    2018
23137    2018
6748     2018
24737    2018
20216    2018
37002    2018
4359     2018
11111    2018
28160    2018
47930    2018
37068    2018
49185    2019
5763     2019
27578    2800
4549     4100
453      4500
42079    4800
22799    5000
49153    5000
24519    5000
4164     5000
27618    5911
8360     6200
25003    8888
49910    9000
33950    9999
8012     9999
38076    9999
Name: registration_year, Length: 48400, dtype: int64

From analyzing the **registration_year** column, it is evident that some years are incorrect.  

We have a few entries that the car is from the future ot from the past well before automobiles as an entity even existed. 

The data was last taken in 2016, sso that will be the upper limit. and we are keeping 1900 as the lower limit as the first car was invented that year.

In [9]:
year_drop = autos[~autos["registration_year"].between(1900,2016)]
autos.drop(year_drop.index, inplace=True)

Dropped the rows that don't fall within the logical time period

Now we have categorzied date_crawled column into a frequency table in form of percentage. 
2016-03-05 - Had the highest
2016-04-07 - Had the lowest

In [10]:
date_crawled_freq = autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index()
date_crawled_perc = date_crawled_freq *100
date_crawled_perc

2016-03-05    2.523429
2016-03-06    1.416473
2016-03-07    3.628235
2016-03-08    3.350959
2016-03-09    3.320867
2016-03-10    3.226292
2016-03-11    3.247786
2016-03-12    3.686269
2016-03-13    1.584129
2016-03-14    3.641131
2016-03-15    3.434786
2016-03-16    2.938268
2016-03-17    3.176855
2016-03-18    1.281059
2016-03-19    3.462729
2016-03-20    3.793741
2016-03-21    3.724959
2016-03-22    3.280028
2016-03-23    3.224142
2016-03-24    2.953314
2016-03-25    3.146763
2016-03-26    3.213395
2016-03-27    3.077981
2016-03-28    3.458430
2016-03-29    3.417591
2016-03-30    3.385349
2016-03-31    3.176855
2016-04-01    3.385349
2016-04-02    3.557304
2016-04-03    3.875419
2016-04-04    3.664775
2016-04-05    1.298255
2016-04-06    0.307368
2016-04-07    0.139713
Name: date_crawled, dtype: float64

Now we have categorzied ad_created column into a frequency table in form of percentage. 
2016-04-03 - Had the highest
2016-02-09 - Had the lowest

In [11]:
ad_created_freq = autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False)
ad_created_perc = ad_created_freq * 100
ad_created_perc

2016-04-03    3.899063
2016-03-20    3.798040
2016-03-21    3.748603
2016-04-04    3.699166
2016-03-12    3.666925
2016-04-02    3.522913
2016-03-14    3.507867
2016-03-07    3.503568
2016-03-28    3.471327
2016-03-29    3.415441
2016-03-15    3.415441
2016-04-01    3.385349
2016-03-30    3.366005
2016-03-19    3.355258
2016-03-08    3.350959
2016-03-09    3.327315
2016-03-11    3.277878
2016-03-22    3.254234
2016-03-26    3.215545
2016-03-23    3.213395
2016-03-10    3.198349
2016-03-31    3.185453
2016-03-25    3.161809
2016-03-17    3.146763
2016-03-27    3.062935
2016-03-16    2.979108
2016-03-24    2.949016
2016-03-05    2.282693
2016-03-13    1.717393
2016-03-06    1.538991
                ...
2016-02-21    0.006448
2016-02-05    0.004299
2016-02-14    0.004299
2016-02-26    0.004299
2016-02-18    0.004299
2016-01-27    0.004299
2016-01-10    0.004299
2016-02-02    0.004299
2016-02-24    0.004299
2016-02-12    0.004299
2016-02-20    0.004299
2016-02-09    0.002149
2015-09-09    0.002149
2016-02-08    0.002149
2015-12-30    0.002149
2016-01-16    0.002149
2016-02-17    0.002149
2016-02-01    0.002149
2016-01-03    0.002149
2016-02-11    0.002149
2015-11-10    0.002149
2016-01-14    0.002149
2015-12-05    0.002149
2015-08-10    0.002149
2016-01-13    0.002149
2016-01-07    0.002149
2016-02-16    0.002149
2016-02-22    0.002149
2015-06-11    0.002149
2016-02-07    0.002149
Name: ad_created, Length: 74, dtype: float64

Now we have categorzied last_seen column into a frequency table in form of percentage. 
2016-04-06 - Had the highest
2016-03-05 - Had the lowest

In [12]:
last_seen_freq = autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False)
last_seen_perc = last_seen_freq * 100
last_seen_perc

2016-04-06    22.311065
2016-04-07    13.281317
2016-04-05    12.563408
2016-03-17     2.805004
2016-04-03     2.514831
2016-04-02     2.461095
2016-03-30     2.458946
2016-04-04     2.413808
2016-03-12     2.375118
2016-03-31     2.368670
2016-04-01     2.302038
2016-03-29     2.211762
2016-03-22     2.084945
2016-03-28     2.072049
2016-03-20     2.057003
2016-03-21     2.054853
2016-03-24     1.966727
2016-03-25     1.893646
2016-03-23     1.842060
2016-03-26     1.678703
2016-03-16     1.627117
2016-03-15     1.599175
2016-03-19     1.560485
2016-03-27     1.558335
2016-03-14     1.268163
2016-03-11     1.238071
2016-03-10     1.063967
2016-03-09     0.980139
2016-03-13     0.861921
2016-03-08     0.743702
2016-03-18     0.722208
2016-03-07     0.539506
2016-03-06     0.412690
2016-03-05     0.107471
Name: last_seen, dtype: float64

In [13]:
brand_unique = autos["brand"].unique()
brand_perc = autos["brand"].value_counts(normalize = True )* 100
top_20_brands = brand_perc.head(20)
brands_over_5 = top_20_brands[top_20_brands > 5].index

In [14]:
brands_over_5 = top_20_brands[top_20_brands > 5].index
brand_dict = { }
for brand in brands_over_5:
    ind_brand = autos[autos["brand"] == brand]
    one_brand_mean_cost = ind_brand["price_dollars"].mean()
    brand_dict[brand] = int(one_brand_mean_cost)
brand_dict

{'audi': 9362,
 'bmw': 8606,
 'ford': 4064,
 'mercedes_benz': 8657,
 'opel': 2992,
 'volkswagen': 5621}

The above analysis is based of the brand of the car. Created a frwquency table to check which brand is present the most in the given dataframe. 
We only took only the brands that are present more than 5 percent in the given data. 
Those are the following 
1. audi
2. bmw
3. ford 
4. mercedes 
5. opel 
6. volkswagen 

We have found the average/mean price of these vehicles. I have created a dictionary to note them down in a presentable manner

In [15]:
mileage_dict = { }
for brand in brands_over_5:
    ind_mileage = autos[autos["brand"] == brand]
    one_mileage_mean_cost = ind_mileage["odometer_km"].mean()
    mileage_dict[brand] = int(one_mileage_mean_cost)
mileage_dict

{'audi': 129208,
 'bmw': 132557,
 'ford': 124247,
 'mercedes_benz': 130838,
 'opel': 129339,
 'volkswagen': 128720}

In [16]:
brand_series = pd.Series(brand_dict).sort_values(ascending = True)
mileage_series = pd.Series(mileage_dict)
brand_mileage_dataframe = pd.DataFrame(brand_series, columns=['mean_price'])
brand_mileage_dataframe["mean_mileage"] = mileage_series
brand_mileage_dataframe

               mean_price  mean_mileage
opel                 2992        129339
ford                 4064        124247
volkswagen           5621        128720
bmw                  8606        132557
mercedes_benz        8657        130838
audi                 9362        129208

In [ ]:
def freq_table(brand_name):
    brand_models = autos[autos["brand"] == brand_name]
    frequency_model = { }
    for val in brand_models["model"]:
        if val in frequency_model:
            frequency_model[val] += 1
        else:
            frequency_model[val] = 1
    return frequency_model
freq_table("audi")

{nan: 113,
 'q5': 62,
 'tt': 144,
 'a4': 1228,
 'a2': 42,
 'q3': 28,
 '80': 196,
 'q7': 40,
 '100': 57,
 '200': 1,
 'andere': 215,
 'a6': 795,
 'a8': 68,
 'a5': 126,
 '90': 8,
 'a1': 82,
 'a3': 825}

A function pf freq_table has been created which takes 1 variable, which is the brand's name of the car. It will return the frequancy table of the various models in that particular brand. 

This will help us discern further which is the model under a particular brand that has the most models. 
Given an example of Audi above

In [ ]:
autos["unrepaired_damage"].value_counts()
cost_damaged_or_not_dic = { }
unique_damage = autos["unrepaired_damage"].unique()
for val in autos["unrepaired_damage"]:
    damage_or_not = autos[autos["unrepaired_damage"] == val]
    cost = damage_or_not["price_dollars"].mean()
    cost_damaged_or_not_dic[val] = cost
cost_damaged_or_not_dic